.header-barranavegacion{
    background-color: rgb(72, 70, 70);
    color: white;
    display: flex;
    justify-content: space-between;
}
.logo-navegacion{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.links-navegacion{
    display: flex;
    align-items: center;
    width: 65%;
    justify-content: space-evenly;
    font-weight: 500;
}
.header-imagen{
    position: relative;
}
.img-header{
    width: 100%;
    filter: brightness(40%);
}
.img-text{
    color: white;
    position: absolute;
    text-align: right;
    bottom: 100px;
    right: 80px;
    width: 70%;
}
.boton1{
    background-color: transparent;
    padding: 8px;
    color: white;
    border-radius: 6px;
    border-style: ridge;
    border-color: white;
    border-width: 2px;
}
.boton2{
    background-color:rgb(70, 189, 78);
    padding: 8px;
    color: white;
    border-radius: 6px;
    border-style: none;
}

/*body*/
.oradores-padre{
    background-color: white;
    padding: 10px 70px;
}
.oradores-titulos{
    text-align: center;
    padding: 25px 0px;
}
.oradores-img{
    width: 100%;
}
.oradores-items{
    border: 1px;
}
.oradores-row{
    --bs-gutter-x: 0.2rem;
}
.p{
    font-size: 11px;
    margin: 4px;
}
/*FOOTER*/
.links-footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(67, 97, 139);
    color: white;
    height: 60px;
    width: 100%;
    font-weight: 500;
}